* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #333333;
}

p {
  margin: 0;
}

.wrapper {
  max-width: calc(1470px + 48px);
  margin: 0 auto;
  padding: 90px 24px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 50px 16px 50px 16px;
  }
}
