.categories-section {
  max-width: 1920px;
  width: 100%;

 margin: 0 auto;
}

.categories-grid {
  display: grid;
  grid-template-areas:
    "a b c d"
    "e e f g"
    "e e h i";
  grid-template-columns: repeat(4, 1fr);           /* резиновые колонки */
  grid-auto-rows: 1fr;                              /* строки равной высоты */
  gap: 2%;                                          /* резиновый gap */
  padding-top: calc(100 / 1080 * 100vh);           /* резиновый верх = 100px на Full HD */
  padding-right: calc(182 / 1920 * 100vw);         /* резиновый правый = 182px на Full HD */
  padding-bottom: calc(100 / 1080 * 100vh);        /* резиновый низ = 100px на Full HD */
  padding-left: calc(274 / 1920 * 100vw);          /* резиновый левый = 274px на Full HD */
  justify-content: center;
}

.item {
  position: relative;
  overflow: hidden;

  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  aspect-ratio: 351 / 274;                          /* сохраняем пропорции */
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.item span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-weight: 500;
  text-shadow: 0 0 4px rgba(0,0,0,0.7);
  z-index: 2;
  font-size: 1rem;
}

/* Ховер */
.item:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.item:hover img {
  transform: scale(1.1);
}

/* Большой блок E */
.item.e {
  grid-column: span 2;
  grid-row: span 2;
}

/* Планшеты */
@media (max-width: 1024px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a b"
      "c d"
      "e e"
      "f g"
      "h i";
    gap: 2%;
    padding: 5%; /* резиновый padding для планшета */
  }

  .item.e {
    grid-column: span 2;
    grid-row: span 2;
  }
}

/* Мобилки */
